$margin: 0;
$flip: 30deg;
$chatWidth: 400px;
$chatHeaderHeight: 120px;
$chatContentHeight: 320px;
$chatMenuIcon: false;
$srcUrl: '../img';

@import "mixin/gradiente.scss";
@import "mixin/transform.scss ";


//container do chat
.chat-container{
  width: $chatWidth;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 3!important;
  display: inline-flex;
}

.outer-chat{
  margin-right: 15px;
  .chat-closer-icon {
    i{
      font-size: 22px;
      font-weight: 300;
    }
    cursor: pointer;
  }
}

.inner-chat{
  width: 90%;
  float: right;
}
//header do chat
.chat-header{
  @include gradienteDefault();
  min-height: $chatHeaderHeight;
  width: 100%;
}

//container dos msg do chat
.chat-content{
  width: 100%;
  height: $chatContentHeight;
  overflow: hidden;
  position: relative;
}

//tamanho fixo relativo para os componentes do header
.chat-head-container, .chat-head-container .row{
  min-height: 120px;
}
.chat-header-clo1{
  $headerCol1BgUrl: $srcUrl+'/sprite-martins.png';
  background: url($headerCol1BgUrl);
  background-size: 550px;
  background-position: -415px 10px;
  width: 120px;
  min-height: 120px;
  margin: auto;
  background-repeat: no-repeat;
  @extend .chat-head-container;
 }

.chat-header-clo2{
  //@extend .chat-head-container;
  padding: 0;
  $marginDesc: 15px;
  padding-left: 10px;
  .chat-txt-desc {
    color: #5E5E5E;
    h3 {
      font-size: 22px;
      margin-top: $marginDesc;
      margin-bottom: 0;
      &:not(.toogle-title) {
        text-align: left;
      }
    }
    h4 {
      font-size: 16px;
      margin-top: 10px;
      //margin-bottom: $marginDesc;
      &:not(.toogle-title) {
        text-align: left;
      }
    }
  }
}





//background flip
.bg-style{
  margin-left: -50%;
  margin-top: -50%;
  width: 1000px;
  height: 1000px;
  $backFlipBgUrl: $srcUrl+'/martins-logo-bg.jpg';
  background: url($backFlipBgUrl) repeat;
  @include rotate($flip);
  z-index: -1;
  position: absolute;
}

//footer do chat
.chat-footer{
  width: 100%;
  padding: 10px 30px;
  @include gradienteDefault();
}

.chat-menu-icon i{
  font-size: 2.5em;
  color: #666666;
  @if $chatMenuIcon {
    display: block;
  }@else {
    display: none;
  }
}

.chat-menu-icon i:hover{
  color: #51ADED;
  cursor: pointer;
}

$fontInput: 1.3em;
.chat-input-message{
  @if $chatMenuIcon==false{
  width: 100%!important;
}
  .input-line{
    input, textarea{
      height: auto!important;
      font-size: $fontInput;
      resize: none;
    }
    span{
      position: absolute;
      top:15%;
      right: 5%;
      font-size: $fontInput;
      &:hover{
        color: #51ADED;
        cursor: pointer;
      }
    }
  }
}

.toogle-title{
  margin: 15px!important;
  text-align: center;
}